@import url(./style.css);

/* header */

header {
    background: var(--dark-file-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 999;
}

header a {
    /* padding: 0 40px; */
    height: 60px;
}

.logo {
    background: var(--light-file-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    width: 30%;
}

.logo img {
    width: 30%;
}

.aboutBtn {
    background: var(--about-page-color);
}

.worksBtn {
    background: var(--works-page-color);
}

.contactBtn {
    background: var(--contact-page-color);
}

header nav {
    display: flex;
    width: 50%;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* frontPage */

#frontPage {
    background: var(--light-file-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--pc-header-height);
}

#frontPage h3 {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
}

#frontPage h1 {
    margin-bottom: 1%;
    margin-left: 2%;
    font-size: 70px;
}

#frontPage h1 span {
    font-size: 20px;
}

/* about page */

#aboutPage {
    background: var(--about-page-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10% 0;
    padding-top: 80px;
    /* outline: 1px solid red; */
}

.profileImg {
    width: 25%;
    background: #fff;
    margin-bottom: 5%;
}

.profileContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
}

.intro h3 {
    margin-bottom: 3px;
    font-size: 16px;
}

.intro p {
    font-size: 14px;
}

.middle {
    font-size: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edu {
    margin: 5% 0;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill p {
    font-size: 10px;
    padding: 5px 15px;
    margin: 2% 1%;
    background: #fff;
    border-radius: 15px;
}

/* works page */

#worksPage {
    background: var(--works-page-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    /* outline: 1px solid red; */
    width: 90%;
    height: 80%;
}

.swiper-slide {
    padding: 0 5%;
    /* outline: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muImg {
    width: 70%;
    margin-bottom: 10%;
}

.detailWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detailWrap h2 {
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 20px;
    color: #fff;
}

.detailWrap h4 {
    margin-bottom:4%;
    color: #fff;
}

.detailWrap p {
    color: #fff;
    font-size: 14px;
}

.detailBtn {
    margin-top: 8%;
}

.detailBtn button {
    background: #fff;
    padding: 10px 15px;
    border: none;
}

/* contactPage */
#contactPage {
    background: var(--contact-page-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.l-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--light-file-color);
}

.l-cont h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8%;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--light-file-color);
    width: 92px;
    color: var(--light-file-color);
}

.l-cont p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5%;
    color: var(--light-file-color);
}

.l-cont a strong {
    color: var(--light-file-color);
    font-size: 12px;
}

.l-cont a {
    font-size: 12px;
    margin-bottom: 2%;
    color: var(--light-file-color);
}

.l-cont a:last-child {
    margin-bottom: 0;
}

/* footer */

footer {
    font-size: 10px;
    background: var(--dark-file-color);
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}